import sublime, sublime_plugin
import os, re, codecs, subprocess
import shutil, stat, errno, sys

class <<command_name>>Command(sublime_plugin.TextCommand):
  def run(self, edit):
    # print('<<plugin_name>>')
    view = self.view
    window = view.window()
    
    
    